<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/meyerest.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <script src="/static/scripts/index.js" defer></script>
    <link rel="icon" href="/static/ico/favicon.ico">
    <title>Tasks App</title>
</head>

<body>
    <!-- Title -->
    <h2>Todo App of the Century</h2>

    <!-- Create todos -->
    <form id="form">

        <label for="task">
            <input type="text" name="task" id="task">
        </label>

        <input type="Submit" value="Create" id="submit">

    </form>

    <!-- Displat tasks -->
    <ul id="tasks">
        {% for task in data %}
        <li>
            <input class="check-completed" type="checkbox" {% if task.completed %} checked {% endif %}/>{{ task.task }}
        </li>
        {% endfor %}
    </ul>

    <div class="hidden" id="error">Something went wrong!</div>

</body>

</html>