@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --primary-bg: #ffffff;
    --primary-fg: #d7e04d;
    --status-color: #ff0000;
    --quick-border: .1rem solid var(--primary-fg);
    --snappy-transition: .2s ease-in-out;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--primary-bg);
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

/* Titles */
.title-wrap h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

.title-wrap h3,
.list-title,
h2 {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.title-wrap h3,
.list-title {
    text-transform: uppercase;
    line-height: 1.4;
}

.subtitle {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.6rem;
    letter-spacing: .17rem;
}

.list,
.items {
    flex-basis: 50%;
    justify-self: flex-end;
}

.list-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    padding-left: .8rem;
    letter-spacing: .17rem;
    grid-column: 2 / -1;
}

/* Layouts */
.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 1.6rem;
}

.todos-wrap {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 70.4rem;
    column-gap: 1.6rem;
}

.todos-wrap .title-wrap {
    margin-bottom: 1.6rem;
    grid-column: 1 / -1;
}

.body-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
    column-gap: 1.6rem;
}

.collection-wrap {
    grid-row: span 99;
    align-self: flex-start;
}

#list-form-wrap,
#form-wrap,
.lists-wrap,
.collection-wrap {
    position: relative;
    border: var(--quick-border);
    border-radius: .6rem;
}

.collection-wrap a {
    text-decoration: none;
    font-variant: small-caps;
    display: block;
    font-size: 1.8rem;
}

.lists-wrap,
#form-wrap {
    grid-column: 2 / -1;
}

.status-message-wrap {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

}

#form-wrap {
    grid-row: 1 / 2;
}

#list-form-wrap,
.collection-wrap {
    grid-column: 1 / 2;
}

.form-title,
.list.form-title {
    position: absolute;
    transform: translate(12.5%, -50%);
    z-index: 20;
    padding: 0 .8rem;
    background-color: var(--primary-bg);
}

#list-form,
#form {
    padding: 2.4rem;
    padding-bottom: .8rem;
    display: flex;
    gap: .8rem;
    flex-direction: column;
}

#form input {
    width: 100%;
}

#status-message {
    color: var(--status-color);
    text-align: center;
}

.status-message-wrap {
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists-wrap,
.subtitle>.list,
.subtitle>.items,
.collection-wrap {
    padding: .8rem 1.6rem 0;
}

.lists-wrap li,
.collection-wrap li {
    margin-bottom: .8rem;
    display: grid;
    grid-template-columns: 7% 80% 13%;
    grid-template-columns: 1fr 30fr 1fr;
    gap: .8rem;
    align-items: center;
    font-size: 1.7rem;
}

.lists-wrap li .delete,
.collection-wrap li .delete {
    cursor: pointer;
    transition: var(--snappy-transition);
}

.lists-wrap li .delete:hover,
.collection-wrap li .delete:hover {
    color: var(--primary-alert);
}

.lists-wrap li:last-of-type,
.collection-wrap li:last-of-type {
    margin-bottom: 1.6rem;
}

.hidden {
    display: none;
}

#todo,
#todolist,
#submit,
#list-submit {
    border: none;
    outline: none;
    appearance: none;
    border-radius: .4rem;
}

#todo,
#todolist {
    padding: .8rem 1.2rem;
    outline: var(--quick-border);
    line-height: 1.4;
    font-size: 1.5rem;
}

form #submit,
form #list-submit {
    appearance: none;
    padding: .8rem 1.6rem;
    width: min-content;
    align-self: flex-end;
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--snappy-transition);
}

form #submit:hover {
    color: var(--primary-bg);
    background-color: var(--primary-fg);
}